@brand-primary: #1c79d6;
@brand-secondary: #9396a2;

@color-green: #226F54;
@color-blue: #011627;
@color-orange: #FF8427;
@color-light-green: #BCD8C1;
@color-white: rgb(233, 237, 222);
@border-style:  solid;
@tiny-border: 1px @border-style @brand-primary;
@big-border: 10px @border-style @brand-primary;

.button{
    padding: 1em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    margin-top:10vh;
    border-radius: 30px;
    text-decoration: none !important;
    text-align: center;
    width: 75vw;
}

.button-primary{
    background: @brand-primary;
    border: @tiny-border;       
    color: white;
}